/* You can add global styles to this file, and also import other style files */

/* Define CSS layers order - PrimeNG first, then Tailwind */
@layer primeng, tailwind-components, tailwind-utilities;

@layer tailwind-components {
	@tailwind components;
}

@layer tailwind-utilities {
	@tailwind utilities;
}

/* Aplicar fonte Inter globalmente */
html,
body {
	font-family: 'Figtree', sans-serif;
	font-size: 14px;
	padding: 0;
	margin: 0;
	min-height: 100%;
	min-width: 100%;
	background: linear-gradient(180deg, #e0e7f5 0%, rgba(170, 194, 239, 0.06) 111.26%);
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
